/bin/
/.vs/
/DeploymentTool/bin
/DeploymentTool/obj
/DeploymentTool.Core/bin
/DeploymentTool.Core/obj
/DeploymentTool.CoreTests/bin
/DeploymentTool.CoreTests/obj
/packages/
/DeploymentTool.APITests/bin
/DeploymentTool.APITests/obj
/DeploymentTool.API/bin
/DeploymentTool.API/obj
